@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Bitcount';
	src: url('/fonts/Bitcount-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }

@font-face {
	font-family: 'Silkscreen';
	src: url('/fonts/Silkscreen-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PressStart2P';
	src: url('/fonts/PressStart2P-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'KronaOne';
	src: url('/fonts/KronaOne-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html, body, #app {
	height: 100%;
	margin: 0;
	padding: 0;
  }

.btn {
	@apply w-full p-2 px-6 py-3 bg-gradient-to-r 
	from-stone-700 via-stone-900 to-stone-800 
	text-white font-semibold  shadow-lg border
	hover:from-stone-600 hover:to-stone-700 transition duration-300 
	ease-in-out transform hover:-translate-y-1 hover:shadow-xl
	font-silkscreen;
}

@layer components {
	.box-standard {
	  @apply w-full max-w-sm mx-auto p-10 h-auto bg-white bg-opacity-5 shadow-md backdrop-blur-md flex flex-col items-center justify-center space-y-4;
	}
  }